<!-- actividades-tareas-padres.component.html -->
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="actividades-tareas-padres.component.css">
  <title>Tareas y Actividades</title>
</head>

<body>

<div class="tareas">
  <h2>Tareas y Actividades</h2>

  <div *ngFor="let notificacion of notificaciones; let i = index" class="actividad">
    <p><strong>Tipo:</strong> {{ notificacion.tipo }}</p>
    <p><strong>Descripción:</strong> {{ notificacion.mensaje }}</p>
    <p><strong>Grupo:</strong> {{ notificacion.nombre_grupo }}</p>
    
    <!-- Agrega más detalles según la estructura de tu notificación -->

    <!-- Botones para marcar como realizado y cancelar -->
    <div style="display: flex; justify-content: center;">
      <button type="button" class="btn btn-primary" (click)="marcarRealizado(notificacion, i)">
        REALIZADO
      </button>

       <button type="submit" class="btn-secondary"routerLink="/rol-padres">CANCELAR</button>
    </div>
  </div>
</div>
</body>
</html>
