<!DOCTYPE html>
<html>
<head>
    <title>Iniciar Sesión Padres</title>
    <link rel="stylesheet" type="text/css" href="iniciar-sesion.component.css">
</head>
<body>

<!-- iniciar-sesion.component.html -->
<div class="container">
  <h2>Iniciar Sesión</h2>
  <form (submit)="iniciarSesion()">
    <label for="correo">Tu correo:</label>
    <input type="email" name="correo" id="correo" required [(ngModel)]="username">

    <label for="contrasena">Tu contraseña:</label>
    <input type="password" name="contrasena" id="contrasena" required [(ngModel)]="password">

    <div class="button-container">
      <button type="submit" class="btn-primary"routerLink="/rol-padres">INICIAR SESIÓN</button>
      <button type="submit" class="btn-secondary"routerLink="/inicio">CANCELAR</button>
    </div>
  </form>
</div>

</body>
</html>
