<!DOCTYPE html>
<html>
<head>
    <title>ROL PADRE</title>
    <link rel="stylesheet" type="text/css" href="rol-padres.component.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h2>ROL PADRE</h2>
        </div>
        <ul class="menu">
            <li>
                <a href="../../actividades-tareas-padres" class="button-link">
                    <div class="item">
                        <img src="../../assets/tareas.jpeg">
                        <p>   TAREAS Y ACTIVIDADES</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="../../contactar-profesor" class="button-link">
                    <div class="item">
                        <img src="../../assets/profe.jpeg">
                        <p>CONTACTAR AL PROFESOR</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="../../recordatorios-pagos-padres" class="button-link">
                    <div class="item">
                        <img src="../../assets/notificaciones.jpeg">
                        <p>RECORDATORIOS DE PAGOS</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="../../album-padres" class="button-link">
                    <div class="item">
                        <img src="../../assets/album.jpeg">
                        <p>ALBÙM</p>
                    </div>
                </a>
            </li>
             <li>
                <a href="../../infantes" class="button-link">
                    <div class="item">
                        <img src="../../assets/alumno.jpeg">
                        <p>INFORMACIÒN ALUMNO</p>
                    </div>
                </a>
            </li>

        </ul>
        <a routerLink="/inicio" class="btn-logout">CERRAR SESIÓN</a>
    </div>
</body>
</html>
