<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="album-padres.component.css">
    <title>Álbum de Fotos</title>
</head>
<body>
<div class="tareas">
  <h2>Àlbum</h2>

  <div class="actividad" *ngFor="let album of albums">
    <p><strong>Grupo:</strong> {{ album.grupo }}</p>
    <p><strong>Nombre del Álbum:</strong> {{ album.nombre_album }}</p>
    <p><strong>Foto:</strong></p>
    <img [src]="album.fotos" alt="Foto del álbum" width="150" height="150">
    <!-- Puedes agregar más campos según las necesidades de tu modelo Album -->
  </div>
<div class="button-container">
     
      <button type="submit" class="btn-secondary"routerLink="/rol-padres">CANCELAR</button>
    </div>
</div>
</body>
</html>
