<!DOCTYPE html>
<html>
<head>
    <title>ROL PROFESOR</title>
    <link rel="stylesheet" type="text/css" href="rol-profesor.component.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h2>ROL PROFESOR</h2>
        </div>
        <ul class="menu">
            <li>
                <a href="../../tareas"  class="button-link">
                    <div class="item">
                        <img src="../../assets/tareas.jpeg" alt="Enviar tareas y actividades">
                        <p>ENVIAR TAREAS</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="../../actividades" class="button-link">
                    <div class="item">
                        <img src="../../assets/tareas.jpeg" alt="Enviar tareas y actividades">
                        <p>ENVIAR  ACTIVIDADES</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="../../notificaciones" class="button-link">
                    <div class="item">
                        <img src="../../assets/notificar.jpeg" alt="Enviar tareas y actividades">
                        <p>NOTIFICAR ACTIVIDADES Y TAREAS</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="../../album-profesores" class="button-link">
                    <div class="item">
                        <img src="../../assets/album.jpeg" alt="Enviar foto al album">
                        <p>ENVIAR  FOTO AL ALBÙM</p>
                    </div>
                </a>
            </li>

            <li>
                <a href="../../contactar-acudiente" class="button-link">
                    <div class="item">
                        <img src="../../assets/acudiente.jpeg" alt="Contactar al Acudiente">
                        <p>CONTACTAR AL ACUDIENTE</p>
                    </div>
                </a>
            </li>
           </ul>
        <a routerLink="/inicio" class="btn-logout">CERRAR SESIÓN</a>
    </div>
</body>
</html>
